html{
    scroll-behavior: smooth;
}

body {
    background-color: #666363 !important;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1,h2 {
    color: #111!important;
}

p, ul, li, b, strong {
    font-family: 'Open Sans', sans-serif;
}

iframe {
    border-radius: 10%;
}

li a {
    display: block;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.profile-picture > img {    
    height: 250px;
    border: solid whitesmoke 2px;
    border-radius: 50%;
}

/* .sideBarIcon {
    display: flex;
    justify-content: center;
} */

.navigation {
    position: fixed;
}

.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header {
    text-align: center;
}

.below-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ethos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.profile-ethos > ul > li {
    list-style-type: none;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
}

.socials, .resume {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-icon {
    color: whitesmoke;
}

.social-icon:hover {
    color: #111;
}

.socials2, .resume2 {
    display: none;
}

.about, .projects {
    background-color: #afabab;
    padding: 3%;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.about-content > img {
    height: 350px;
}

.projects {
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;    
}



.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 2rem;
}

.proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.proj > a {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.proj > a > img {
    border-radius: 10%;
}

#menu {
    color: whitesmoke;
}

#menu:hover {
    background-color: #111;
    cursor: pointer;
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .project-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .proj > p {
        width: 50%;
    }
}

@media screen and (min-width: 770px) and (max-width: 999px) {
    .project-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .proj > p {
        width: 50%;
    }

    .about-content {
        width: 95%;
    }
}

@media screen and (min-width: 600px) and (max-width: 769px) {
    .index {
        display: none;
    }

    .below-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        gap: 1rem;
    }

    .resume, .socials {
        display: none;
    }

    .resume2, .socials2 {
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }
    .project-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .proj > p {
        width: 50%;
    }

    .about-content {
        display: block;
        width: 95%;
    }

    .about-content > img {
        float: left;
        height: 300px;
        padding-right: 5%;
    }
}

@media screen and (max-width: 669px) {
    .index {
        display: none;
    }
     
    .below-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        gap: 1rem;
    }

    .resume, .socials {
        display: none;
    }

    .resume2, .socials2 {
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }
    .project-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .proj > p {
        width: 50%;
    }

    .about-content {
        display: block;
        width: 95%;
    }

    .about-content > img {
        float: left;
        height: 300px;
        padding-right: 5%;
    }

    iframe {
        width: 75%;
    }

    .proj > a > img {
        width: 75%;
    }
}