html{
    scroll-behavior: smooth;
}

body {
    background-color: #666363 !important;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1,h2 {
    color: #111!important;
}

p, ul, li, b, strong {
    font-family: 'Open Sans', sans-serif;
}

iframe {
    border-radius: 10%;
}

.index a {
    display: block;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.index a:hover {
    background-color: #111;
}

.profile-picture > img {    
    height: 250px;
    border: solid whitesmoke 2px;
    border-radius: 50%;
    /* border: solid rgb(73, 142, 211) 2px; */
}

.navigation {
    position: fixed;
}

.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.header {
    text-align: center;
}

.below-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ethos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.profile-ethos > ul {
    text-align: center;
    color: whitesmoke;
}

.socials, .resume {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-icon {
    color: whitesmoke;
}

.social-icon:hover {
    color: #111;
}

.about, .projects {
    background-color: #afabab;
    padding: 3%;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.projects {
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;    
}

.about-content > img {
    height: 350px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 2rem;
}

.proj {
    display: flex;
    flex-direction: column;
    align-items: center;
}